.image {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 156px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 30px;
}

.homepage {
  background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/eea3522f4348/assets/img/home/hero_photos/BWRT755ImlKnGpjV4udRdQ.jpg);
  background-repeat:no-repeat;
  background-position:center;
  height: 600px;
}

form {
  display: flex;
  height: 40px;
  width: 100%;
}

span {
  color: rgb(92, 91, 91);
  font-weight: bold;
  font-size: 18px;
  margin: auto;
}

.container {
  background-color: white;
  width: 75%;
  border-radius: 8px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

button#buttonIcon {
  border-radius: 0 4px 4px 0;
  border: 0;
  background-color: #d32323;
  padding: 9px 20px 14px;
  box-shadow: none;
}

.trova {
  flex: 1 1 45%;
}

input {
  width: 74%;
  border: 0;
  font-family: inherit;
  padding: 0;
  height: 41px;
  font-size: 18px;
  font-weight: 500;
  background: none;
  border-radius: 0;

  &:focus {
    outline: none;
  }
}

.autocomplete {
  position: relative;
}

.search-result1 {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.search-result2 {
  background-color: white;
}

.city {
  display: flex;
  flex-direction: column;
}

.city__vicino {
  font-size: 22px;
  padding: 8px;
  color: blue;
  text-transform: capitalize;
}

.city__ristorante,
.city__via,
.city__telefono,
.city__prezzo {

  padding: 8px;
  text-transform: capitalize;
}

.collections {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

ul {
  z-index: 1;
  position: absolute;
  background-color: white;
  width: 100%;
  margin: auto;
  list-style-type: none;
  box-shadow: 3px 3px 12px rgb(0 0 0 / 20%);
}

li#trovaLi {
  padding: 6px;
  display: flex;
  justify-content: flex-start;
}
li#trovaLi:hover {
  background-color: rgb(95, 95, 201);
  color: white;
  cursor: pointer;
}

