<html>

<body>
  <div class="homepage">
    <!-- Header -->
    <app-header></app-header>
    <!-- Logo -->
    <div class="image">
      <img src="https://s3-media0.fl.yelpcdn.com/assets/public/default.yji-a536dc4612adf182807e56e390709483.png"
        no-repeat>
    </div>
    <!-- Input -->
    <div class="container">
      <form [formGroup]="profileForm" autocomplete="off" (ngSubmit)="onSubmit()" >
        <div class="trova">
          &nbsp;&nbsp;
          <span>Trova</span>
          &nbsp;&nbsp;
          <input (click)="toggleDropDown()" [(ngModel)]="searchTrova" (keydown)="search($event)" type="text" formControlName="trova" placeholder="hamburger, barbieri, massaggi, idraulici...">
          <!-- Dropdown trova -->
          <div>
            <div *ngIf="showDropDown" class="autocomplete">
              <ul class="search-result1">
                <li id="trovaLi" (click)="selectValueTrova(tag)" *ngFor="let tag of trova">
                  {{tag.trova}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="trova">
          <span>Vicino</span>
          &nbsp;&nbsp;
          <input (click)="toggleDropDown2()" [(ngModel)]="searchVicino" (keydown)="search2($event)" type="text" formControlName="vicino" value="Roma"
            placeholder="Indirizzo, quartiere, città, provincia o CAP">
          <!-- Dropdown Vicino -->
          <div>
            <div *ngIf="showDropDown2" class="autocomplete">
              <ul class="search-result2">
              <li id="trovaLi" (click)="selectValueVicino(tag)" *ngFor="let tag of vicino">
                {{tag.nome}}
              </li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Icon -->
        <button id="buttonIcon" style="flex: 1 1 10%;" type="submit">
          <svg id="24x24_search" height="24" viewBox="0 0 24 24" width="24">
            <path
              d="M20.753 19.34l-4.295-4.297A7.46 7.46 0 0 0 18 10.5a7.5 7.5 0 1 0-7.5 7.5 7.46 7.46 0 0 0 4.543-1.542l4.296 4.295a1 1 0 1 0 1.412-1.414zM10.5 16A5.506 5.506 0 0 1 5 10.5C5 7.467 7.467 5 10.5 5S16 7.467 16 10.5 13.533 16 10.5 16z">
            </path>
          </svg>
        </button>
      </form>
    </div>
  </div>

</body>

</html>


