.image {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 156px;
  margin: auto;
  margin-top: 55px;
}

.homepage {
  background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/eea3522f4348/assets/img/home/hero_photos/BWRT755ImlKnGpjV4udRdQ.jpg);
  background-repeat:no-repeat;
  background-position:center;
  height: 600px;
}
