<html>
  <body>
    <div class="homepage">
      <header class="header-login-signup">
        <div class="header-limiter">
          <nav>
            <a href="#">Scrivi una recensione</a>
            <a href="#">Eventi</a>
            <a href="#">Forum</a>
          </nav>
          <ul>
            <li><a href="#">Accedi</a></li>
            <li><a href="#">Iscriviti</a></li>
          </ul>
        </div>

      </header>

      <div class="image">
        <img src="https://s3-media0.fl.yelpcdn.com/assets/public/default.yji-a536dc4612adf182807e56e390709483.png" no-repeat>
      </div>
      <div class="container">

      </div>

    </div>
        </body>
</html>

