.image {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 156px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 30px;
}

.homepage {
  background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/eea3522f4348/assets/img/home/hero_photos/BWRT755ImlKnGpjV4udRdQ.jpg);
  background-repeat:no-repeat;
  background-position:center;
  height: 600px;
}
form {
  display: flex;
  height: 40px;
  width: 100%;
}
span {
  color: rgb(92, 91, 91);
  font-weight: bold;
  font-size: 18px;
  margin: auto;
}
.container {
  background-color: white;
  margin: auto;
  width: 75%;
  border-radius: 8px;
  display: flex;
}

button {
  border-radius: 0 4px 4px 0;
  border: 0;
  background-color: #d32323;
  padding: 9px 20px 14px;
  box-shadow: none;
}
input {
  width: 74%;
  border: 0;
  font-family: inherit;
  padding: 0;
  height: 41px;
  font-size: 18px;
  font-weight: 500;
  background: none;
  border-radius: 0;


  &:focus {
    outline: none;

  }
}


