<html>
<body>
  <div class="homepage">
    <!-- Header -->
    <app-header></app-header>
    <!-- Logo -->
    <div class="image">
      <img src="https://s3-media0.fl.yelpcdn.com/assets/public/default.yji-a536dc4612adf182807e56e390709483.png"
        no-repeat>
    </div>
    <!-- Input -->
    <div class="container">
      <div>
        <div>
          <button (click)="filterPrezzo1('€')">€</button>
          <button (click)="filterPrezzo2('€€')">€€</button>
          <button (click)="filterPrezzo3('€€€')">€€€</button>
          <button style="color: red;" (click)="filterPrezzo1(null)" *ngIf="this.prezzo1$.getValue()">
            <em>clear filter</em>
          </button>
          <button style="color: red;" (click)="filterPrezzo2(null)" *ngIf="this.prezzo2$.getValue()">
            <em>clear filter</em>
          </button>
          <button style="color: red;" (click)="filterPrezzo3(null)" *ngIf="this.prezzo3$.getValue()">
            <em>clear filter</em>
          </button>
        </div>

        <!-- Filter Ristorante -->
        <button (click)="filterRistorante('Ristorante')">Ristorante</button>
        <button (click)="filterRistorante('Bar')">Bar</button>
        <button (click)="filterRistorante('Plumbers')">Plumbers</button>
        <button style="color: red;" (click)="filterRistorante(null)" *ngIf="this.tipo$.getValue()">
          <em>clear filter</em>
        </button>

        <br>
        <!-- Filter Città -->
        <button (click)="filterCitta('Firenze')">Firenze</button>
        <button (click)="filterCitta('Roma')">Roma</button>
        <button  style="color: red;" (click)="filterCitta(null)" *ngIf="this.citta$.getValue()">
          <em>clear filter</em>
        </button>
        <hr>
      </div>

      <div *ngIf="items$ | async; let items; else loading">
        <ul>
          <li *ngFor="let city of items">
            <p class="city__vicino">{{city?.idCitta}}</p>
            <p class="city__ristorante">Nome Ristorante: {{city?.locale.nome}}</p>
            <p class="city__via">Via: {{city?.locale.via}}</p>
            <p class="city__telefono">Telefono: {{city?.locale.telefono}}</p>
            <p class="city__prezzo">Prezzo: {{city?.locale.prezzo}}</p>
            <p class="city__tipo">Tipo: {{city.locale.tipo}}</p>

          </li>
        </ul>
        <div *ngIf="items.length === 0">Nessun risultato</div>
      </div>
      <ng-template #loading>Loading&hellip;</ng-template>
    </div>
  </div>
</body>
</html>



